* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 20vmin;
  --cell-gap: 2vmin;
  --x: 0;
  --y: 0;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  gap: var(--cell-gap);
  border-radius: 1vmin;
  margin: 2vmin;
}

.cell {
  background-color: #444;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5vmin;
  font-weight: bold;
  background-color: hsl(25, 60%, var(--bg-lightness));
  color: hsl(20, 25%, var(--text-lightness));
  transition: 100ms;
  animation: show 200ms;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 5vmin;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
